USE [master]
GO
/****** Object:  Database [TicariOtomasyon]    Script Date: 16.08.2021 19:05:37 ******/
CREATE DATABASE [TicariOtomasyon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TicariOtomasyon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicariOtomasyon.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TicariOtomasyon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\TicariOtomasyon_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicariOtomasyon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicariOtomasyon]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminKullaniciAd] [varchar](11) NULL,
	[AdminSifre] [varchar](11) NULL,
	[AdminYetki] [char](1) NULL,
	[AdminDurum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departmanlars]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departmanlars](
	[DepartmanID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](50) NULL,
	[DepartmanDurum] [bit] NOT NULL CONSTRAINT [DF_Departmanlars_DepartmanDurum]  DEFAULT ((1)),
 CONSTRAINT [PK_dbo.Departmanlars] PRIMARY KEY CLUSTERED 
(
	[DepartmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[Acıklama] [varchar](2000) NULL,
	[UrunID] [int] NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FaturaIceriks]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FaturaIceriks](
	[FaturaIcerikID] [int] IDENTITY(1,1) NOT NULL,
	[FaturaAcıklama] [varchar](30) NULL,
	[FaturaMiktar] [int] NOT NULL,
	[FaturaBirimFiyat] [decimal](18, 2) NOT NULL,
	[FaturaTutar] [decimal](18, 2) NOT NULL,
	[FaturaDurum] [bit] NOT NULL,
	[FaturaID] [int] NOT NULL CONSTRAINT [DF__FaturaIce__Fatur__73852659]  DEFAULT ((0)),
 CONSTRAINT [PK_dbo.FaturaIceriks] PRIMARY KEY CLUSTERED 
(
	[FaturaIcerikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Faturalars](
	[FaturaID] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSıraNo] [varchar](6) NULL,
	[FaturaTarih] [datetime] NOT NULL,
	[FaturaSaat] [datetime] NOT NULL CONSTRAINT [DF_Faturalars_FaturaSaat]  DEFAULT (getdate()),
	[FaturaVergiDairesi] [varchar](100) NULL,
	[FaturKesen] [varchar](50) NULL,
	[FaturAlan] [varchar](50) NULL,
	[FaturDurum] [bit] NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL CONSTRAINT [DF__Faturalar__Topla__4D5F7D71]  DEFAULT ((0)),
	[FaturaSeriNO] [varchar](1) NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[FaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Giderlers]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Giderlers](
	[GiderID] [int] IDENTITY(1,1) NOT NULL,
	[GiderAciklama] [varchar](100) NULL,
	[GiderTarih] [datetime] NOT NULL,
	[GiderTutar] [decimal](18, 2) NOT NULL,
	[GiderDurum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Giderlers] PRIMARY KEY CLUSTERED 
(
	[GiderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KTid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](300) NULL,
	[TakipKodu] [varchar](10) NULL,
	[Alici] [varchar](20) NULL,
	[Personel] [varchar](20) NULL,
	[Tarih] [datetime] NOT NULL,
	[KargoDurum] [bit] NOT NULL CONSTRAINT [DF__KargoDeta__Kargo__70FDBF69]  DEFAULT ((1)),
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KTid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KTakipid] [int] IDENTITY(1,1) NOT NULL,
	[TakiipKodu] [varchar](10) NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[KargoDurum] [bit] NOT NULL CONSTRAINT [DF__KargoTaki__Kargo__71F1E3A2]  DEFAULT ((1)),
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KTakipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kategorilers]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Kategorilers](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](50) NULL,
	[KategoriDurum] [bit] NOT NULL CONSTRAINT [DF_Kategorilers_KategoriDurum]  DEFAULT ((1)),
 CONSTRAINT [PK_dbo.Kategorilers] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Markalars]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Markalars](
	[MarkaID] [int] IDENTITY(1,1) NOT NULL,
	[MarkaAd] [varchar](50) NULL,
	[MarkaLogo] [varchar](500) NULL,
	[MarkaDurum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Markalars] PRIMARY KEY CLUSTERED 
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mesajlars]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mesajlars](
	[MesajID] [int] IDENTITY(1,1) NOT NULL,
	[Gonderici] [varchar](50) NULL,
	[Alici] [varchar](50) NULL,
	[Konu] [varchar](30) NULL,
	[Icerik] [varchar](2000) NULL,
	[Tarih] [smalldatetime] NOT NULL,
	[MesajDurum] [bit] NOT NULL CONSTRAINT [DF__Mesajlars__Mesaj__636EBA21]  DEFAULT ((1)),
 CONSTRAINT [PK_dbo.Mesajlars] PRIMARY KEY CLUSTERED 
(
	[MesajID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Musterilers]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Musterilers](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAD] [varchar](25) NULL,
	[MusteriSoyad] [varchar](25) NULL,
	[MusteriSifre] [varchar](11) NULL,
	[MusteriTelNo] [varchar](15) NULL,
	[MusteriFoto] [varchar](500) NULL,
	[MusteriAdres] [varchar](250) NULL,
	[MusteriMail] [varchar](25) NULL,
	[MusteriDT] [datetime] NOT NULL,
	[MusteriDurum] [bit] NOT NULL CONSTRAINT [DF__Musterile__Muste__01142BA1]  DEFAULT ((1)),
	[Cinsiyet] [bit] NOT NULL DEFAULT ((0)),
	[SehirID] [int] NULL,
 CONSTRAINT [PK_dbo.Musterilers] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personels](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](25) NULL,
	[PersonelSoyad] [varchar](25) NULL,
	[PersonelMail] [varchar](25) NULL,
	[PersonelAdres] [varchar](250) NULL,
	[PersonelFoto] [varchar](500) NULL,
	[PersonelSifre] [varchar](11) NULL,
	[PersonelDT] [datetime] NOT NULL,
	[PersonelTelNo] [varchar](15) NULL,
	[PersonelDurum] [bit] NOT NULL CONSTRAINT [DF_Personels_PersonelDurum]  DEFAULT ((1)),
	[DepartmanID] [int] NOT NULL,
	[Cinsiyet] [bit] NOT NULL DEFAULT ((0)),
	[SehirID] [int] NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Satislars]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislars](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[SatisAdet] [int] NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[SatisToplamFiyat] [decimal](18, 2) NOT NULL,
	[SatisTarihi] [datetime] NOT NULL,
	[SatisDurum] [bit] NOT NULL,
	[MusteriID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[PersonelID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Satislars] PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sehirlers]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sehirlers](
	[SehirID] [int] IDENTITY(1,1) NOT NULL,
	[SehirAd] [varchar](14) NULL,
	[SehirDurum] [bit] NOT NULL CONSTRAINT [DF_Sehirlers_SehirDurum]  DEFAULT ((1)),
 CONSTRAINT [PK_dbo.Sehirlers] PRIMARY KEY CLUSTERED 
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Urunlerims]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Urunlerims](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](70) NULL,
	[UrunFoto] [varchar](5000) NULL,
	[UrunStok] [smallint] NOT NULL,
	[UrunAlisFiyat] [decimal](18, 2) NOT NULL,
	[UrunSatisFiyat] [decimal](18, 2) NOT NULL,
	[UrunDurum] [bit] NOT NULL CONSTRAINT [DF_Urunlerims_UrunDurum]  DEFAULT ((1)),
	[KategoriID] [int] NOT NULL,
	[MarkaID] [int] NOT NULL,
	[UrunBilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Urunlerims] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Yapilacaklars]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yapilacaklars](
	[YapilacakID] [int] IDENTITY(1,1) NOT NULL,
	[YIcerik] [varchar](100) NULL,
	[YDurum] [bit] NOT NULL CONSTRAINT [DF_Yapilacaklars_YDurum]  DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Yapilacaklars] PRIMARY KEY CLUSTERED 
(
	[YapilacakID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YorumPuans]    Script Date: 16.08.2021 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[YorumPuans](
	[YpID] [int] IDENTITY(1,1) NOT NULL,
	[Yorum] [varchar](1000) NULL,
	[Puan] [tinyint] NOT NULL CONSTRAINT [DF_YorumPuans_Puan]  DEFAULT ((0)),
	[MusteriID] [int] NOT NULL,
	[UrunID] [int] NOT NULL,
	[YorumDurum] [bit] NOT NULL CONSTRAINT [DF__YorumPuan__Yorum__45544755]  DEFAULT ((1)),
	[YorumT] [smalldatetime] NOT NULL CONSTRAINT [DF__YorumPuan__Yorum__6B79F03D]  DEFAULT (getdate()),
 CONSTRAINT [PK_dbo.YorumPuans] PRIMARY KEY CLUSTERED 
(
	[YpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminKullaniciAd], [AdminSifre], [AdminYetki], [AdminDurum]) VALUES (1, N'admin1', N'1231', N'A', 1)
INSERT [dbo].[Admins] ([AdminID], [AdminKullaniciAd], [AdminSifre], [AdminYetki], [AdminDurum]) VALUES (2, N'admin2', N'12312', N'B', 1)
INSERT [dbo].[Admins] ([AdminID], [AdminKullaniciAd], [AdminSifre], [AdminYetki], [AdminDurum]) VALUES (4, N'admin3', N'12313', N'A', 1)
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Departmanlars] ON 

INSERT [dbo].[Departmanlars] ([DepartmanID], [DepartmanAd], [DepartmanDurum]) VALUES (1, N'Muhasebe', 1)
INSERT [dbo].[Departmanlars] ([DepartmanID], [DepartmanAd], [DepartmanDurum]) VALUES (2, N'Bölge Müdürü', 1)
INSERT [dbo].[Departmanlars] ([DepartmanID], [DepartmanAd], [DepartmanDurum]) VALUES (3, N'Müdür', 1)
SET IDENTITY_INSERT [dbo].[Departmanlars] OFF
SET IDENTITY_INSERT [dbo].[Detays] ON 

SET IDENTITY_INSERT [dbo].[Detays] OFF
SET IDENTITY_INSERT [dbo].[FaturaIceriks] ON 

INSERT [dbo].[FaturaIceriks] ([FaturaIcerikID], [FaturaAcıklama], [FaturaMiktar], [FaturaBirimFiyat], [FaturaTutar], [FaturaDurum], [FaturaID]) VALUES (1, N'Buz Dolabı', 1, CAST(3000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[FaturaIceriks] ([FaturaIcerikID], [FaturaAcıklama], [FaturaMiktar], [FaturaBirimFiyat], [FaturaTutar], [FaturaDurum], [FaturaID]) VALUES (2, N'Fırın', 1, CAST(321.00 AS Decimal(18, 2)), CAST(321.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[FaturaIceriks] ([FaturaIcerikID], [FaturaAcıklama], [FaturaMiktar], [FaturaBirimFiyat], [FaturaTutar], [FaturaDurum], [FaturaID]) VALUES (3, N'Çamaşır Makinası', 2, CAST(32.00 AS Decimal(18, 2)), CAST(64.00 AS Decimal(18, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[FaturaIceriks] OFF
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([FaturaID], [FaturaSıraNo], [FaturaTarih], [FaturaSaat], [FaturaVergiDairesi], [FaturKesen], [FaturAlan], [FaturDurum], [ToplamTutar], [FaturaSeriNO]) VALUES (1, N'100000', CAST(N'2021-05-21 00:00:00.000' AS DateTime), CAST(N'2021-05-21 00:00:00.000' AS DateTime), N'Çorum', N'İrfan Keleş', N'Gonca Kızıl', 1, CAST(10000.00 AS Decimal(18, 2)), N'A')
INSERT [dbo].[Faturalars] ([FaturaID], [FaturaSıraNo], [FaturaTarih], [FaturaSaat], [FaturaVergiDairesi], [FaturKesen], [FaturAlan], [FaturDurum], [ToplamTutar], [FaturaSeriNO]) VALUES (2, N'100100', CAST(N'2021-05-21 00:00:00.000' AS DateTime), CAST(N'2021-05-20 00:00:00.000' AS DateTime), N'Çorum', N'Gonca Kızıl', N'İrfan Keleş', 1, CAST(0.00 AS Decimal(18, 2)), N'A')
INSERT [dbo].[Faturalars] ([FaturaID], [FaturaSıraNo], [FaturaTarih], [FaturaSaat], [FaturaVergiDairesi], [FaturKesen], [FaturAlan], [FaturDurum], [ToplamTutar], [FaturaSeriNO]) VALUES (6, N'19100', CAST(N'2021-06-22 00:00:00.000' AS DateTime), CAST(N'2021-06-22 18:10:00.000' AS DateTime), N'Çorum', N'Ezgi', N'Elvan', 1, CAST(0.00 AS Decimal(18, 2)), N'A')
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KTid], [Aciklama], [TakipKodu], [Alici], [Personel], [Tarih], [KargoDurum]) VALUES (1, N'buz dolabı yola .çıktı', N'31ABKFJ789', N'Gonca Kızıl', N'İrfan Keleş', CAST(N'2020-05-05 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KargoDetays] ([KTid], [Aciklama], [TakipKodu], [Alici], [Personel], [Tarih], [KargoDurum]) VALUES (2, N'31', N'1111111111', N'dd', N'vv', CAST(N'2021-08-12 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KargoDetays] ([KTid], [Aciklama], [TakipKodu], [Alici], [Personel], [Tarih], [KargoDurum]) VALUES (3, N'test', N'2222222222', N'ads', N'dsa', CAST(N'2021-08-12 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KTakipid], [TakiipKodu], [Aciklama], [Tarih], [KargoDurum]) VALUES (1, N'DO5332MEFN', N'ürün kargopya verildi', CAST(N'2021-08-17 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KargoTakips] ([KTakipid], [TakiipKodu], [Aciklama], [Tarih], [KargoDurum]) VALUES (2, N'DO5332MEFN', N'ürün yola çıktı', CAST(N'2021-08-17 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[KargoTakips] ([KTakipid], [TakiipKodu], [Aciklama], [Tarih], [KargoDurum]) VALUES (3, N'DO5332MEFN', N'ürün çorum subesinde', CAST(N'2121-08-17 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
SET IDENTITY_INSERT [dbo].[Kategorilers] ON 

INSERT [dbo].[Kategorilers] ([KategoriID], [KategoriAd], [KategoriDurum]) VALUES (1, N'Beyaz Eşya', 1)
INSERT [dbo].[Kategorilers] ([KategoriID], [KategoriAd], [KategoriDurum]) VALUES (2, N'Mobilya', 1)
INSERT [dbo].[Kategorilers] ([KategoriID], [KategoriAd], [KategoriDurum]) VALUES (3, N'Ev Aletleri', 1)
SET IDENTITY_INSERT [dbo].[Kategorilers] OFF
SET IDENTITY_INSERT [dbo].[Markalars] ON 

INSERT [dbo].[Markalars] ([MarkaID], [MarkaAd], [MarkaLogo], [MarkaDurum]) VALUES (1, N'Bosch', N'xx', 1)
INSERT [dbo].[Markalars] ([MarkaID], [MarkaAd], [MarkaLogo], [MarkaDurum]) VALUES (2, N'Beko', N'xx', 1)
INSERT [dbo].[Markalars] ([MarkaID], [MarkaAd], [MarkaLogo], [MarkaDurum]) VALUES (3, N'Profilo', N'xx', 1)
SET IDENTITY_INSERT [dbo].[Markalars] OFF
SET IDENTITY_INSERT [dbo].[Mesajlars] ON 

INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [Icerik], [Tarih], [MesajDurum]) VALUES (1, N'i@gmal.com', N'elvans@gmal.com', N'Aciil bakk !', N'şaka kanak xd', CAST(N'2020-05-05 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [Icerik], [Tarih], [MesajDurum]) VALUES (2, N'isa@gmal.com', N'elvans@gmal.com', N'Deneme', N'boş konu içeriği', CAST(N'2020-02-05 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[Mesajlars] ([MesajID], [Gonderici], [Alici], [Konu], [Icerik], [Tarih], [MesajDurum]) VALUES (3, N'ece@gmal.com', N'elvans@gmal.com', N'Test', N'deneme içerği eklendi', CAST(N'2019-09-05 00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[Mesajlars] OFF
SET IDENTITY_INSERT [dbo].[Musterilers] ON 

INSERT [dbo].[Musterilers] ([MusteriID], [MusteriAD], [MusteriSoyad], [MusteriSifre], [MusteriTelNo], [MusteriFoto], [MusteriAdres], [MusteriMail], [MusteriDT], [MusteriDurum], [Cinsiyet], [SehirID]) VALUES (1, N'Gonca', N'Kızıl', N'1231', N'11111111111', N'https://i.sozcu.com.tr/wp-content/uploads/2018/02/hizliveofkeli2-880x487.jpg', N'asd', N'g@gmail.com', CAST(N'2005-05-05 00:00:00.000' AS DateTime), 1, 1, 32)
INSERT [dbo].[Musterilers] ([MusteriID], [MusteriAD], [MusteriSoyad], [MusteriSifre], [MusteriTelNo], [MusteriFoto], [MusteriAdres], [MusteriMail], [MusteriDT], [MusteriDurum], [Cinsiyet], [SehirID]) VALUES (2, N'Ertan', N'Tanı', N'2222', N'22222222222', N'xx', N'dsa', N'e@gmal.com', CAST(N'2021-01-31 00:00:00.000' AS DateTime), 1, 0, 2)
INSERT [dbo].[Musterilers] ([MusteriID], [MusteriAD], [MusteriSoyad], [MusteriSifre], [MusteriTelNo], [MusteriFoto], [MusteriAdres], [MusteriMail], [MusteriDT], [MusteriDurum], [Cinsiyet], [SehirID]) VALUES (3, N'İrfan', N'keleş', N'12312', N'33333333333', N'xx', N'sda', N'i@gmal.com', CAST(N'2020-05-02 00:00:00.000' AS DateTime), 1, 0, 34)
SET IDENTITY_INSERT [dbo].[Musterilers] OFF
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelMail], [PersonelAdres], [PersonelFoto], [PersonelSifre], [PersonelDT], [PersonelTelNo], [PersonelDurum], [DepartmanID], [Cinsiyet], [SehirID]) VALUES (1, N'İrfan', N'keleş', N'irfan@gmail.com', N'add.Mah cc c.Sk deneme apt. 25/3', N'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/model-issac-carew-wears-a-lewis-leathers-jacket-and-a-white-news-photo-1586805268.jpg', N'add', CAST(N'2005-05-05 00:00:00.000' AS DateTime), N'05313313131', 1, 1, 0, 1)
INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelMail], [PersonelAdres], [PersonelFoto], [PersonelSifre], [PersonelDT], [PersonelTelNo], [PersonelDurum], [DepartmanID], [Cinsiyet], [SehirID]) VALUES (3, N'Hüseyin', N'Soyad', N'huseyin@gmail.com', N'ccs', N'/Images/lgnbg.jpg.jpg', N'3131', CAST(N'2005-05-05 00:00:00.000' AS DateTime), N'05343313131', 1, 2, 0, 1)
INSERT [dbo].[Personels] ([PersonelID], [PersonelAd], [PersonelSoyad], [PersonelMail], [PersonelAdres], [PersonelFoto], [PersonelSifre], [PersonelDT], [PersonelTelNo], [PersonelDurum], [DepartmanID], [Cinsiyet], [SehirID]) VALUES (4, N'tester', N'soyad', N'ssd@gmail.com', N'ssd', N'/Images/login.jpg.jpg', N'1231', CAST(N'2005-05-05 00:00:00.000' AS DateTime), N'05343313131', 1, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Personels] OFF
SET IDENTITY_INSERT [dbo].[Satislars] ON 

INSERT [dbo].[Satislars] ([SatisID], [SatisAdet], [SatisFiyat], [SatisToplamFiyat], [SatisTarihi], [SatisDurum], [MusteriID], [UrunID], [PersonelID]) VALUES (1, 70, CAST(300.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), CAST(N'2005-05-01 00:00:00.000' AS DateTime), 1, 1, 1, 1)
INSERT [dbo].[Satislars] ([SatisID], [SatisAdet], [SatisFiyat], [SatisToplamFiyat], [SatisTarihi], [SatisDurum], [MusteriID], [UrunID], [PersonelID]) VALUES (2, 20, CAST(320.00 AS Decimal(18, 2)), CAST(4600.00 AS Decimal(18, 2)), CAST(N'2005-05-02 00:00:00.000' AS DateTime), 1, 1, 5, 3)
INSERT [dbo].[Satislars] ([SatisID], [SatisAdet], [SatisFiyat], [SatisToplamFiyat], [SatisTarihi], [SatisDurum], [MusteriID], [UrunID], [PersonelID]) VALUES (4, 5, CAST(750.00 AS Decimal(18, 2)), CAST(3750.00 AS Decimal(18, 2)), CAST(N'2002-02-05 00:00:00.000' AS DateTime), 1, 2, 6, 1)
SET IDENTITY_INSERT [dbo].[Satislars] OFF
SET IDENTITY_INSERT [dbo].[Sehirlers] ON 

INSERT [dbo].[Sehirlers] ([SehirID], [SehirAd], [SehirDurum]) VALUES (1, N'ADANA', 1)
INSERT [dbo].[Sehirlers] ([SehirID], [SehirAd], [SehirDurum]) VALUES (2, N'ADIYAMAN', 1)
INSERT [dbo].[Sehirlers] ([SehirID], [SehirAd], [SehirDurum]) VALUES (3, N'AFYONKARAHİSAR', 1)
SET IDENTITY_INSERT [dbo].[Sehirlers] OFF
SET IDENTITY_INSERT [dbo].[Urunlerims] ON 

INSERT [dbo].[Urunlerims] ([UrunID], [UrunAd], [UrunFoto], [UrunStok], [UrunAlisFiyat], [UrunSatisFiyat], [UrunDurum], [KategoriID], [MarkaID], [UrunBilgi]) VALUES (1, N'Buz Dolabı ', N'/Images/hata1-1.png.png', 408, CAST(2500.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 1, 1, 1, N'A++ Enerji Tüketimi ile Bulundugu Sınıfın En Çok Tercih Edileni')
INSERT [dbo].[Urunlerims] ([UrunID], [UrunAd], [UrunFoto], [UrunStok], [UrunAlisFiyat], [UrunSatisFiyat], [UrunDurum], [KategoriID], [MarkaID], [UrunBilgi]) VALUES (5, N'Fırın', N'xx', 30, CAST(123.00 AS Decimal(18, 2)), CAST(321.00 AS Decimal(18, 2)), 1, 1, 1, NULL)
INSERT [dbo].[Urunlerims] ([UrunID], [UrunAd], [UrunFoto], [UrunStok], [UrunAlisFiyat], [UrunSatisFiyat], [UrunDurum], [KategoriID], [MarkaID], [UrunBilgi]) VALUES (6, N'Pc Şarj Aleti', N'xx', 111, CAST(350.00 AS Decimal(18, 2)), CAST(750.00 AS Decimal(18, 2)), 1, 7, 4, NULL)
SET IDENTITY_INSERT [dbo].[Urunlerims] OFF
SET IDENTITY_INSERT [dbo].[Yapilacaklars] ON 

INSERT [dbo].[Yapilacaklars] ([YapilacakID], [YIcerik], [YDurum]) VALUES (1, N'14/05/2021 Tarihinde toplatın yapılacaktır.', 0)
INSERT [dbo].[Yapilacaklars] ([YapilacakID], [YIcerik], [YDurum]) VALUES (2, N'ödenecek Faturalar var', 0)
INSERT [dbo].[Yapilacaklars] ([YapilacakID], [YIcerik], [YDurum]) VALUES (3, N'Hisse ortaklarıyla görüşülcek', 1)
SET IDENTITY_INSERT [dbo].[Yapilacaklars] OFF
SET IDENTITY_INSERT [dbo].[YorumPuans] ON 

INSERT [dbo].[YorumPuans] ([YpID], [Yorum], [Puan], [MusteriID], [UrunID], [YorumDurum], [YorumT]) VALUES (1, N'güzel ürün beğendiö', 75, 1, 1, 1, CAST(N'1900-01-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[YorumPuans] ([YpID], [Yorum], [Puan], [MusteriID], [UrunID], [YorumDurum], [YorumT]) VALUES (2, N'İyi değil yalakn bunlar hep', 91, 2, 1, 1, CAST(N'1900-01-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[YorumPuans] ([YpID], [Yorum], [Puan], [MusteriID], [UrunID], [YorumDurum], [YorumT]) VALUES (5, N'deneme yorum', 33, 2, 5, 1, CAST(N'1900-01-01 00:00:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[YorumPuans] OFF
/****** Object:  Index [IX_UrunID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[Detays]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FaturaID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_FaturaID] ON [dbo].[FaturaIceriks]
(
	[FaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SehirID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_SehirID] ON [dbo].[Musterilers]
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmanID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmanID] ON [dbo].[Personels]
(
	[DepartmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SehirID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_SehirID] ON [dbo].[Personels]
(
	[SehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MusteriID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_MusteriID] ON [dbo].[Satislars]
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonelID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_PersonelID] ON [dbo].[Satislars]
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[Satislars]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KategoriID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriID] ON [dbo].[Urunlerims]
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MarkaID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_MarkaID] ON [dbo].[Urunlerims]
(
	[MarkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MusteriID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_MusteriID] ON [dbo].[YorumPuans]
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UrunID]    Script Date: 16.08.2021 19:05:37 ******/
CREATE NONCLUSTERED INDEX [IX_UrunID] ON [dbo].[YorumPuans]
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detays]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Detays_dbo.Urunlerims_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlerims] ([UrunID])
GO
ALTER TABLE [dbo].[Detays] CHECK CONSTRAINT [FK_dbo.Detays_dbo.Urunlerims_UrunID]
GO
ALTER TABLE [dbo].[FaturaIceriks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaIceriks_dbo.Faturalars_FaturaID] FOREIGN KEY([FaturaID])
REFERENCES [dbo].[Faturalars] ([FaturaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaIceriks] CHECK CONSTRAINT [FK_dbo.FaturaIceriks_dbo.Faturalars_FaturaID]
GO
ALTER TABLE [dbo].[Musterilers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Musterilers_dbo.Sehirlers_SehirID] FOREIGN KEY([SehirID])
REFERENCES [dbo].[Sehirlers] ([SehirID])
GO
ALTER TABLE [dbo].[Musterilers] CHECK CONSTRAINT [FK_dbo.Musterilers_dbo.Sehirlers_SehirID]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmanlars_DepartmanID] FOREIGN KEY([DepartmanID])
REFERENCES [dbo].[Departmanlars] ([DepartmanID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmanlars_DepartmanID]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Sehirlers_SehirID] FOREIGN KEY([SehirID])
REFERENCES [dbo].[Sehirlers] ([SehirID])
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Sehirlers_SehirID]
GO
ALTER TABLE [dbo].[Satislars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Satislars_dbo.Musterilers_MusteriID] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musterilers] ([MusteriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Satislars] CHECK CONSTRAINT [FK_dbo.Satislars_dbo.Musterilers_MusteriID]
GO
ALTER TABLE [dbo].[Satislars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Satislars_dbo.Personels_PersonelID] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personels] ([PersonelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Satislars] CHECK CONSTRAINT [FK_dbo.Satislars_dbo.Personels_PersonelID]
GO
ALTER TABLE [dbo].[Satislars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Satislars_dbo.Urunlerims_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlerims] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Satislars] CHECK CONSTRAINT [FK_dbo.Satislars_dbo.Urunlerims_UrunID]
GO
ALTER TABLE [dbo].[Urunlerims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Urunlerims_dbo.Kategorilers_KategoriID] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategorilers] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunlerims] CHECK CONSTRAINT [FK_dbo.Urunlerims_dbo.Kategorilers_KategoriID]
GO
ALTER TABLE [dbo].[Urunlerims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Urunlerims_dbo.Markalars_MarkaID] FOREIGN KEY([MarkaID])
REFERENCES [dbo].[Markalars] ([MarkaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urunlerims] CHECK CONSTRAINT [FK_dbo.Urunlerims_dbo.Markalars_MarkaID]
GO
ALTER TABLE [dbo].[YorumPuans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YorumPuans_dbo.Musterilers_MusteriID] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musterilers] ([MusteriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YorumPuans] CHECK CONSTRAINT [FK_dbo.YorumPuans_dbo.Musterilers_MusteriID]
GO
ALTER TABLE [dbo].[YorumPuans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.YorumPuans_dbo.Urunlerims_UrunID] FOREIGN KEY([UrunID])
REFERENCES [dbo].[Urunlerims] ([UrunID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YorumPuans] CHECK CONSTRAINT [FK_dbo.YorumPuans_dbo.Urunlerims_UrunID]
GO
USE [master]
GO
