.con {
    padding: 0px 110px 50px 110px;
    margin: 0px;
    box-sizing: border-box;
}

    .con img {
        width: 250px;
        height: 250px;
        margin: 10px;
        transition: transform .1s;
        object-fit: unset;
        opacity: 0.7;
        background-image: url('../../Bootstrap/dist/assets/images/slider/setting.png');
        background-repeat: no-repeat;
        display: inline-flex;

    }

img {
    text-indent: -10000px;
}
        .con img:hover {
            opacity: 1;
            z-index: 99;
            cursor: pointer;
            transform: scale( 1.5);
            position: relative;
        }

.u {
}

    .u img {
        width: 120px;
        height: 120px;
        text-decoration: none;
        object-fit: contain;
        background-size: 100%;
        background-image: url('../../Bootstrap/dist/assets/images/slider/setting.png');
        visibility: hidden;
    }

.u_oneri {
    width: 200px;
    height: vh;
    margin: 5px 10px;
    float:left;
    box-shadow: 3px 0px 25px 1px #333;
}

.u_resim {
    width: 180px;
    height: 180px;
    margin: 20px 10px;
    background-image: url('../../Bootstrap/dist/assets/images/slider/setting.png');
    background-size:100%;
}

    .u_resim > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.u_baslik {
    margin:0 10px;
    font-weight:bold;
}
.u_urunugor{
    width:auto;
    height:auto;
    margin:20px 10px;
}
#foto {
    background-image: url('../../Bootstrap/dist/assets/images/slider/setting.png');
    background-size: 100%;
}
.yorum_panel {
    width: auto;
    height: vh;
    border: dashed 1px #3333;
    margin:10px auto;
}
.y_foto_p {
    width: auto;
    height:70px;
    padding: 10px;
}
.foto{
    width:50px;
    height:50px;
    border-radius:100%;
    float:left;
}
    .foto > img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-image: url('../../Bootstrap/dist/assets/images/slider/setting.png');
        background-size: 100%;
        border:none;
    }
.m_p_panel {
    width: auto;
    float: left;
    margin: auto 10px;
}
.m_bilgi{
    width:auto;
    height:auto;
    font-weight:bold;
    margin:5px;
}
.m_puan {

    width:150px;
}
.yorum_bolum {
    width: auto;
    height: auto;
    padding: 10px;
    border-top:1px solid #3333;

}


