@using TicariOtomasyon.Models.Concrete
@model List<Urunlerim>

<div style="min-width:100%;">
    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Resim</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Kategori Adı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="vertical-align:middle;"><img src="@item.UrunFoto" width="50" height="50" class="rounded-circle my-n1"></td>
                    <td style="vertical-align:middle;">@item.UrunAd</td>
                    <td style="vertical-align:middle;">@item.Kategoriler.KategoriAd</td>
                </tr>
            }
        </tbody>
    </table>
</div>
